body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    position: relative;
    color: gray;
    font-size: 4em;
    letter-spacing: 5px;
    border-bottom: 16px solid gray;
    line-height: 1.4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
}
h1:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color:yellow;
    overflow: hidden;
    border-bottom: 16px solid #0e5c93;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0;
    }

}